    <div class="item">
        <div>Chef</div>
        <div>
            <div>
                <input type="text" name="name" value="{{ chef.name }}">
            </div>
        </div>
    </div>

    <div class="item">
        <div>Avatar</div>
        <div class="avatar-upload button">
                <input 
                    type="file" 
                    name="avatar" 
                    accept="image/*"
                >
                <p>Enviar Avatar</p>
        </div>
    </div>
