    <div class="item">
        <div>Chef</div>
        <div>
            <div>
                <input type="text" name="name" value="{{ chef[0].name }}">
            </div>
        </div>
    </div>

    <div class="item">
        <div>Avatar</div>
        <div>
            <div>
                <input type="url" name="avatar_url" value="{{ chef[0].avatar_url }}">
            </div>
        </div>
    </div>
