<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    {% block head %}
        <title>Foodfy - Admin</title>
    {% endblock %}

</head>

<body>
    <header class="admin">
        <div>
            <a href="/admin/recipes"><img src="/assets/logoWhite.png" alt="logo"></a>
        </div>
    </header>

    <main>
        
        {% block content %}{% endblock %}
        
    </main>
    
    <script src="/scripts.js"></script>

</body>
</html>