{% extends "site/layout.njk" %}

{% block filter %}
    <form action="/recipes" method="GET">
        <input 
            type="text" 
            name="filter"
            placeholder="Buscar uma receita"
            value={{filter}}
        >
        <button type="submit">Buscar</button>
    </form>
{% endblock %}

{% block content %}

        <div class="intro">
            <div>
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <img src="assets/chef.png" alt="chef">
        </div>
    
        <div class="maisAcessadas">
            <h2>Mais acessadas</h2>
            <section class="recipes">
                {% for recipe in recipes %}
                    <div class="recipe" id="{{ recipe.id }}">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        <h3>{{ recipe.title }}</h3>
                        <p>por {{ recipe.chef }}</p>
                    </div>
                {% endfor %}

                <div class="recipeSectionSuport" id="">
                    <img src="" alt="">
                </div>
            </section>
        </div>
        
{% endblock %}    