{% extends 'admin/layoutAdmin.njk' %}

{% block content %}

    <form method="POST" action="/admin/recipes">
        <div class="management">
            <h1>Criando receita</h1>
            <button type="submit">Salvar receita</button>
        </div>

        {% include 'admin/recipes/fields.njk' %}

    </form>

{% endblock content %}