    <div class="item">
        <div>Imagem da receita</div>
        <div class="form-gallery">
            <div id="photos-upload">
                <input 
                    id="photos-input"
                    type="file"
                    multiple 
                    name="photos" 
                    accept="image/*"
                    onchange="PhotosUpload.handleFileInput(event)"
                >
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAZ0lEQVRoge3YsQ3AIAwAQcjSnsFTkzaC2jwofx2N0YvKtCb9W68aHBHje87MkrueiqE7GUAzgGYAzQCaATQDaAbQDKAtW9K8SZ1m3uyufwEDaP5K0AygGUAzgGYAzQCaATQDaAZIYr3RxgxO/bjFRwAAAABJRU5ErkJggg==">
            </div>
            <div id="photos-preview">
                {% if files %}
                    {% for image in files %}
                        <div class="photo" id="{{image.id}}">
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i 
                                class="material-icons"
                                onclick="PhotosUpload.removeOldPhoto(event)"
                            >close</i>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="item">
        <div>Chef</div>
                <select name="chef_id">
                    {% if recipe.chef_id %}
                        <option selected value="{{ recipe.chef_id }}">{{ recipe.chef }}</option>
                    {% else %}
                        <option disabled selected >Selecione um chefe</option>
                    {% endif %}
                    {% for chef in chefs %}
                        {% if chef.id !== recipe.chef_id %}
                            <option value="{{ chef.id }}">{{ chef.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
    </div>

    <div class="item">
        <div>Título da receita</div>
            <div>
                <input type="text" name="title" value="{{ recipe.title }}">
            </div>
    </div>

    <div class="item">
        <div>Ingredientes</div>
        <div id="ingredients"> 

        {% if recipe.ingredients == null %}
            <div class="ingredient">
                <input 
                    type="text" 
                    name="ingredients[]" 
                    value="" 
                    placeholder="Ingrediente">
                    <button type="button" class="material-icons">clear</button>
            </div>
        {% else %}
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient">
                    <input 
                        type="text" 
                        name="ingredients[]" 
                        value="{{ ingredient }}" 
                        placeholder="Ingrediente">
                    <button type="button" class="material-icons">clear</button>
                </div>
            {% endfor %}
        {% endif %}

        </div>
        <button type="button" class="add-ingredient">+ Adicionar novo ingrediente</button>
    </div>

    <div class="item">
        <div>Modo de preparo</div>
        <div id="preparation">

        {% if recipe.preparation == null %}
            <div class="preparation-step">
                <input 
                    type="text" 
                    name="preparation[]" 
                    value="" 
                    placeholder="Novo passo">
                <button type="button" class="material-icons">clear</button>
            </div>
        {% else %}
            {% for step in recipe.preparation %}
                <div class="preparation-step">
                    <input 
                        type="text" 
                        name="preparation[]" 
                        value="{{ step }}" 
                        placeholder="Novo passo">
                    <button type="button" class="material-icons">clear</button>
                </div>
            {% endfor %}
        {% endif %}

        </div>
        <button type="button" class="add-preparation-step">+ Adicionar novo passo</button>
    </div>

    <div class="item">
        <div>Informações adicionais</div>
            <div class="textarea_container">
                <textarea type="text" name="information">{{ recipe.information }}</textarea>
            </div>
    </div>