{% extends 'admin/layoutAdmin.njk' %}

{% block content %}

    <div class="management">
        <h1 class="admin">Gerenciar receitas</h1>
        <button><a  href="/admin/recipes/create">Nova receita</a></button>
    </div>

    <section class="management">

        {% for recipe in recipes %}
            <div class="management" id="{{ recipe.id }}">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <div>
                    <h3>{{ recipe.title }}</h3>
                    <p>por {{ recipe.chef }}</p>
                    <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
        
    </section>

{% endblock content %} 